<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Index</title>
</head>
<body>
  <section>
    Hello {{ auth.user.username }}!
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/signup">signup</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/listAll">listAll</a></li>
  </ul>
  </section>
</body>
</html>
