<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">
  <title>{{ film2.title }} ({{ film2.year }})</title>
  <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/docs/4.1/examples/carousel/carousel.css" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:3333/"> <i class="fa fa-film" style="font-size: 20px;"></i> BETFLIX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline mt-2 mt-md-0">
        <div class="btn-group">
          @loggedIn
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{ auth.user.username }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/library">My Movies</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
          @else
          <a class="btn btn-danger" href="/signup" role="button">Register</a>
          <a class="btn btn-secondary" href="/login" role="button">Login</a>
          @endloggedIn
        </div>
      </form>
    </div>
  </nav>
</header>
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 48rem;">
        <img class="first-slide img2" src={{ film2.photo1 }} alt="First slide" style="height: auto; width: 100%;">
        <div class="container">
          <div class="carousel-caption text-left">
            <h2 class="featurette-heading">{{film2.title}} <span class="text-muted">({{film2.year}})</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 48rem;">
        <img class="second-slide img2" src={{ film2.photo2 }} alt="Second slide" style="height: auto; width: 100%;">
        <div class="container">
          <div class="carousel-caption text-left">
            <h2 class="featurette-heading">{{film2.title}} <span class="text-muted">({{film2.year}})</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <p style="font-size:110%;" class="lead">{{ film2.plot }}</p>
        <span class="badge badge-secondary">Directors: </span>
        <p style="font-size:110%;" class="lead">{{ film2.directors }}</p>
        <span class="badge badge-secondary">IMDB Rating: </span>
        <p style="font-size:110%;" class="lead">{{ film2.rating }}</p>
        <span class="badge badge-secondary">Genre: </span>
        <p style="font-size:110%;" class="lead">{{ film2.genre }}</p>
        <a class="btn btn-info" href="/purchase/{{film2.id}}" role="button">Buy: ${{film2.price}}</a>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src={{ film2.poster }} alt="Generic placeholder image">
      </div>
    </div>
    <hr class="featurette-divider">
    <h5 style="font-size:200%; text-align:center;">CASTING</h5><br>
    <div class="row">
      @each(ent in film)
      <div class="col-lg-2">
        <img class="rounded-circle cent" src={{ ent.photo }} width="70" height="100">
        <h5 style="font-size:90%; text-align:center;">{{ ent.fullname }} </h5>
        <h6 style="font-size:70%; text-align:center;"><i>({{ ent.role }}) </i></h6>
      </div><!-- /.col-lg-4 -->
      @endeach
    </div><!-- /.row -->
    <hr class="featurette-divider">
    <h5 style="font-size:200%; text-align:center;">RECOMMENDED MOVIES</h5><br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted"><a
          href="http://127.0.0.1:3333/movie/{{film3.id}}"
          style="  color:black;">{{film3.title}}</a></span> ({{film3.year}})</h2>
        <p class="lead" style="margin-top: 24px">{{film3.plotmin}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src={{film3.poster}}>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted"><a
          href="http://127.0.0.1:3333/movie/{{film4.id}}"
          style="color:black;">{{film4.title}}</a></span> ({{film4.year}})</h2>
        <p class="lead" style="margin-top: 24px">{{film4.plotmin}}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src={{film4.poster}}>
      </div>
    </div>
    <hr class="featurette-divider">
  </div><!-- /.container -->
  <style>
    .cent {
      position: relative; /* where the next element will be automatically positioned */
      display: inline-block; /* causes element width to shrink to fit content */
      left: 50%; /* moves left side of image/element to center of parent element */
      transform: translate(-50%); /* centers image/element on "left: 50%" position */
    }

    .featurette-divider {
      margin: 2rem 0; /* Space out the Bootstrap <hr> more */
    }
  </style>
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
