<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="http://getbootstrap.com/docs/4.1/examples/offcanvas/offcanvas.css">

  <title>Edit movie</title>
</head>
<body>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Admin page</h6>
      <small>Movie edit</small>
    </div>
  </div>
  <div>
    <form action="/admin/movie/{{movie.id}}" method="post">
      {{ csrfField() }}
      <div class="row">
        <div class="col-md-6">
          <strong>id</strong>
          <input type="text" class="form-control" id="id" name="id" value="{{movie.id}}" disabled>
        </div>
        <div class="col-md-6">
          <strong>title</strong>
          <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <strong>directors</strong>
          <input type="text" class="form-control" id="directors" name="directors" value="{{movie.directors}}">
        </div>
        <div class="col-md-6">
          <strong>imdbmid</strong>
          <input type="text" class="form-control" id="imdbmid" name="imdbmid" value="{{movie.imdbmid}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <strong>year</strong>
          <input type="text" class="form-control" id="year" name="year" value="{{movie.year}}">
        </div>
        <div class="col-md-6">
          <strong>budget</strong>
          <input type="text" class="form-control" id="budget" name="budget" value="{{movie.budget}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <strong>runtime</strong>
          <input type="text" class="form-control" id="runtime" name="runtime" value="{{movie.runtime}}">
        </div>
        <div class="col-md-4">
          <strong>rating</strong>
          <input type="text" class="form-control" id="rating" name="rating" value="{{movie.rating}}">
        </div>
        <div class="col-md-4">
          <strong>price</strong>
          <input type="text" class="form-control" id="price" name="price" value="{{movie.price}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <strong>releasedate</strong>
          <input type="text" class="form-control" id="releasedate" name="releasedate" value="{{movie.releasedate}}">
        </div>
        <div class="col-md-6">
          <strong>genre</strong>
          <input type="text" class="form-control" id="genre" name="genre" value="{{movie.genre}}">
        </div>
      </div>
      <strong>photo1</strong>
      <input type="text" class="form-control" id="photo1" name="photo1" value="{{movie.photo1}}">
      <strong>photo2</strong>
      <input type="text" class="form-control" id="photo2" name="photo2" value="{{movie.photo2}}">
      <button type="submit" class="btn bn-sm btn-outline-info float-right col-2 bg-purple text-white" style="margin-top: 12px;">Update</button>
    </form>
  </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://getbootstrap.com/docs/4.1/examples/offcanvas/offcanvas.js"></script>
</body>
</html>
